In [1]:
# libraries
import jedi
import matplotlib.pyplot as plt
import numpy as np
import os
import pandas as pd
import pandas_profiling
import pygments
import re
import seaborn as sns
from scipy import stats as st
from tqdm import tqdm
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

In [2]:
# Versions
print("jedi version:", jedi.__version__)
print("numpy version:", np.__version__)
print("pandas version:", pd.__version__)
print("pandas profiling version:", pandas_profiling.__version__)
print("Pygments version:", pygments.__version__)
print("re version:", re.__version__)
print("Seaborn version:", sns.__version__)

jedi version: 0.15.1
numpy version: 1.17.2
pandas version: 0.25.1
pandas profiling version: 2.4.0
Pygments version: 2.4.2
re version: 2.2.1
Seaborn version: 0.9.0

In [4]:
# Directories & Files
os.listdir()

# Datasets directory
directory = "./datasets/"

In [5]:
# creating the DataFrames dynamically
# 1st step: store the names and filenames of the files as a key-value pair in a dictionary
datasets = {f"{re.sub('.csv', '', filename.lower())}": filename for filename in os.listdir(directory)}

# 2nd step: for each key in the datasets dictionary, create a DF
for name in datasets:
    print(name)
    globals()[name] = pd.read_csv(directory + datasets[name])

.ds_store
un_sdg_indicators

In [6]:
un_sdg_indicators.head()

,Goal,Target,Indicator,SeriesCode,SeriesDescription,GeoAreaCode,GeoAreaName,TimePeriod,Value,Time_Detail,...,LowerBound,BasePeriod,Source,FootNote,Nature,Units,[Age],[Location],[Reporting Type],[Sex]
0,5,5.1,5.1.1,SG_LGL_GENEQLFP,"Legal frameworks that promote, enforce and mon...",1,World,2018,67.76,2018,...,NaN,NaN,UN Women,Data are derived from an assessment of country...,G,PERCENT,NaN,NaN,G,NaN
1,5,5.1,5.1.1,SG_LGL_GENEQLFP,"Legal frameworks that promote, enforce and mon...",8,Albania,2018,100.00,2018,...,NaN,NaN,UN Women,Data are derived from an assessment of country...,G,PERCENT,NaN,NaN,G,NaN
2,5,5.1,5.1.1,SG_LGL_GENEQLFP,"Legal frameworks that promote, enforce and mon...",36,Australia,2018,80.00,2018,...,NaN,NaN,UN Women,Data are derived from an assessment of country...,G,PERCENT,NaN,NaN,G,NaN
3,5,5.1,5.1.1,SG_LGL_GENEQLFP,"Legal frameworks that promote, enforce and mon...",50,Bangladesh,2018,66.67,2018,...,NaN,NaN,UN Women,Data are derived from an assessment of country...,G,PERCENT,NaN,NaN,G,NaN
4,5,5.1,5.1.1,SG_LGL_GENEQLFP,"Legal frameworks that promote, enforce and mon...",51,Armenia,2018,90.00,2018,...,NaN,NaN,UN Women,Data are derived from an assessment of country...,G,PERCENT,NaN,NaN,G,NaN

In [11]:
# quick way to report on the dataset
un_sdg_indicators["[Age]"].value_counts()

15+       1006
65+        861
15-24      846
45-54      817
55-64      812
25-44      738
10+        504
15-49      466
20-24      422
12+        186
35-44      121
25-34      121
20-74      104
25-29       65
15-19       65
45-49       63
35-39       63
40-44       63
30-34       62
45-64       40
18-49       30
15-64       20
12-14       18
16+         14
5+          12
20-64       12
85+          6
12-24        6
20+          6
ALLAGE       6
6+           6
75-84        6
65-74        6
10-14        6
14+          6
6-65         4
30-39        3
40-49        3
18-24        2
18+          2
18-19        1
15-44        1
18-50        1
30-35        1
20-29        1
45-59        1
Name: [Age], dtype: int64